.bank-transfer {
    margin-top: 80px;
    max-width: 1440px;
    width: 100%;
    padding-left: calc(100 / 1440) * 100vw;
    padding-right: calc(100 / 1440) * 100vw;
    margin-left: auto;
    margin-right: auto;
}
.bank-transfer__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    p {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .btnTransfer {
        border-radius: 100%;
        width: 48px;
        height: 48px;
        &:hover {
            background-color: aqua;
        }
    }
}
.arrow-bank {
    transform-origin: center;
    transform: rotate(0deg);
}
.arrow-bank.active {
    transform-origin: center;
    transform: rotate(180deg);
}
.bank-transfer__content {
    > h1 {
        text-align: center;
    }
    display: block;
}
.bank-transfer__content.active {
    display: block;
    > h1 {
        text-align: center;
    }
}
.bank-list_ua {
    margin-top: 104px;
    width: calc(480 / 1440) * 100vw;
    h1 {
        text-align: center;
    }
}
.transfer-line {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    .colum1 {
        width: calc(192 / 1440) * 100vw;
        margin-right: calc(4.5 / 1440) * 100vw;
        font-size: 1em;
    }
    .colum2 {
        width: calc(231 / 1440) * 100vw;
        font-size: 0.75em;
    }
    .btnCopy {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        &:hover {
            background-color: #FFD966;
        }
    }
}
.btnCopyAll {
    margin-top: 24px;
    width: 100%;
    height: 53px;
    background: #FFD966;
    display: flex;
        justify-content: center;
        align-items: center;
        span {
            color: #000000;
        }
        img {
            padding-left: calc(8 / 1440) * 100vw;
        }
        &:hover {
            background-color: red;
        }
}
.bank-list_eur {
    margin-top: 104px;
}