.current-needs {
    max-width: 1440px;
    max-height: 1097px;
    padding-left: calc(100 / 1440) * 100vw;
    padding-right: calc(100 / 1440) * 100vw;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #000000;
    > h1 {
        font-weight: 500;
        font-size: 2.5em;
        line-height: 120%;
        margin-bottom: 24px;
    }
    > p {
        font-weight: 400;
        font-size: 1em;
        line-height: 130%;
        margin-bottom: 48px;
    }
}
.current-needs__menu {
    display: flex;
    justify-content: space-between;
}
.card {
    max-width: 286px;
    height: 592px;
    background-color: white;
}
.card__content {
    position: relative;
    z-index: 1;
    height: 100%;
    background-color:#ECECEC;

}
.card__content:hover {
    transform: scale(0.9);
    background-color: white;
}
.card-photo {
    max-width: 286px;
    height: 254px;
    margin-bottom: 20px;
}
.card-title {
    max-width: 286px;
    height: 72px;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 120%;
    color: #333333;
    margin-bottom: 12px;

}
.card-price {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 29px;
    margin-bottom: 12px;
}
.card-description {
    font-weight: 400;
    font-size: 1em;
    line-height: 130%;
}
.cardDonateBtn {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 48px;
    background-color: #FFD966;;
    font-weight: 500;
    font-size: 1em;
    line-height: 120%;
    &:hover {
        background: #FFE9A8;
    }
}
.allCurrentNeeds {
    position: relative;
    margin-top: 64px;
    padding-bottom: 100px;
}
.btnAllNeeds {
    position: absolute;
    right: 0%;
    width: 296px;
    height: 60px;
    border: 1px solid #000000;
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        padding-left: calc(8 / 1440) * 100vw;
    }
    &:hover {
        background-color: rgba(31, 30, 27, 0.1);
    }
}