@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.docs {
    box-sizing: border-box;
    width: 42vw;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
        h2 {
            font-weight: 500;
            font-size: 40px;
            line-height: 120%;
            text-align: center;
            font-feature-settings: 'case' on;
            color: #000000;
            margin: 0;
            padding: 0;
        }
        &__statute {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div{
                border: 1px solid #000000;
                border-radius: 20px;
                width: 270px;
                min-height: 66px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                h3 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 120%;
                    color: #000000;
                    text-align: center;
                }
            }
        }
//////////////////////////
    
    &__title {
        border: 1px solid #000000;
        border-radius: 20px;
        h3 {
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
            text-align: center;
        }
    }

    &__report {
        border: 1px solid #000000;
        border-radius: 20px;
        width: 55%;
        min-height: 254px;
        margin-right: 2.2vw;
        padding: 0 1.7vw;
        h4 {
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
            margin: 3.6vw 0 .8vw;
        }
        p {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #1F1F1F;
            margin: 0 0 1.1vw;
        }
        span {
            display: inline-block;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            color: #1F1F1F;
            margin-bottom: 3.6vw;
        }
    }

    &__report-wrapper {
        display: flex;
        flex-direction: row;
        margin: 2.2vw 0 3.3vw;
    }

    &__card {
        width: 39%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div {
            min-height: 111px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__request {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
            width: 38%;
            margin: 0;
        }

        &_btn {
            width: 46%;
            border: 1px solid #1F1F1F;
            border-radius: 44px;
            min-height: 44px;
            a {
                display: flex;
                justify-content: center;
                margin: 12px auto;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: #1F1F1F;
                text-decoration: none;
                text-align: center;
                p{
                    width: 60%;
                }
            }
        }
    }
}







 

 