.menu {
    position: sticky;
    max-width: 1440px;
    width: 100%;
    max-height: 86px;
    background-color: #1E1E1E;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    //
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 120%;
    color:#FFFFFF;
    //
}
.menu__logo {
    padding-left: calc(100 / 1440) * 100vw;
    padding-top: 18px;
    padding-bottom: 19px;
    img {
        cursor: pointer;
    }
}
.menu__list {
    padding-right: calc(100 / 1440) * 100vw;
}
.menu-links {
    display: flex;
    justify-content: flex-end;
    > li {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        height: 44px;
        padding-left: calc(12 / 1440) * 100vw;
        padding-right: calc(18.5 / 1440) * 100vw;
        &:not(:last-child):hover {
            text-decoration: underline;
        }
        .ref {
            display: block;
            text-align: center;
        }
        .menu-arrow {
            margin-left: calc(8 / 1440) * 100vw;
        }
        .menu-arrow.active {
            transform-origin: center;
            transform: rotate(180deg);
        }
        .menu-arrow.inactive {
            transform-origin: center;
            transform: rotate(0deg);
        }
    }
    > li:last-child {
        text-align: center;
        font-weight: 500;
        color: #000000;
        background-color: #FFD966;
        width: calc(142 / 1440) * 100vw;
        height: 48px;
        a {
            margin-left: auto;
            margin-right: auto;
        }
        &:hover {
            background-color: #FFFFFF;
        }
    }
    > li:not(:last-child) {
        margin-right: calc(45 / 1440) * 100vw;
    }
}
.link {
    width: 100%;
    display: flex;
    align-items: center;
}
.dropdown {
    position: absolute;
    top: 175%;
    margin-left: calc(-20 / 1440) * 100vw;
    display: none;
    width: calc(200 / 1440) * 100vw;
    z-index: 2;
    li {
        color: #333333;
        background-color: white;
        height: 56px;
        align-items: center;
        a {
            display: block;
            text-align: left;
            padding-left: calc(20 / 1440) * 100vw;
        }
    }
    li:hover {
        background: rgba(31, 30, 27, 0.1);
    }
}
.dropdown.active {
    display: block;
}
.dropdown.inactive {
    display: none;
}
