.menu {
    position: relative;
    width: 100%;
    max-height: 86px;
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    //
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 120%;
    color:#FFFFFF;
    //
    &.fixed {
        position: fixed;
        z-index: 50;
    }
}
.menu__logo {
    padding-left: calc(100 / 1440) * 100vw;
    padding-top: 18px;
    padding-bottom: 19px;
    img {
        cursor: pointer;
    }
}
.menu__list {
    padding-right: calc(100 / 1440) * 100vw;
}
.menu-links {
    display: flex;
    justify-content: flex-end;
    > li {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        height: 44px;
        padding-left: calc(12 / 1440) * 100vw;
        padding-right: calc(18.5 / 1440) * 100vw;
        &:not(:last-child):hover {
            text-decoration: underline;
        }
        .ref {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .menu-arrow {
            margin-left: calc(8 / 1440) * 100vw;
        }
        .menu-arrow.active {
            transform-origin: center;
            transform: rotate(180deg);
        }
        .menu-arrow.inactive {
            transform-origin: center;
            transform: rotate(0deg);
        }
    }
    > li:last-child {
        text-align: center;
        font-weight: 500;
        color: #000000;
        padding: 0;
        background-color: #FFD966;
        width: calc(142 / 1440) * 100vw;
        height: 48px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
        &:hover {
            background: #FFE9A8;

        }
    }
    > li:not(:last-child) {
        margin-right: calc(45 / 1440) * 100vw;
    }
}
.link {
    width: 100%;
    display: flex;
    align-items: center;
}
.dropdown {
    position: absolute;
    top: 175%;
    margin-left: -20%;
    display: none;
    width: 120%;
    z-index: 2;
    ul {

    }
    li {
        color: #333333;
        background-color: white;
        height: 56px;
        margin-bottom: 4px;
        .ref {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
            &:hover {
                background: rgba(31, 30, 27, 0.1);
            }
        }
        span {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}
.dropdown.active {
    display: block;
}
.dropdown.inactive {
    display: none;
}
.lang {
    .ref {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        display: none;
        width: 18px;
        height: 18px;
    }
}
.lang.active {
    img {
        display: block;
    }
}
