.subhead-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 20.8px;

    &_title {
        font-size: 40px;
        font-weight: 500;
        color: #000000;
    }

    &_description {
        font-size: 16px;
        width: 494px;
        text-align: center;
        margin: 25px;
        color: #1f1f1f;
        
    }
}

.programs_table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 0 100px;
    line-height: 20.8px;

    &_card {
        width: 392px;
        font-family: 'Montserrat', sans-serif;
        margin: 0 10px 10px;
        
        &_caption {
            font-size: 20px;
            font-weight: 500;
            color: #000000;;
            text-align: center;
            padding: 15px;
        }

        &_subscription {
            font-size: 16px;
            text-align: center;
            color: #1f1f1f;
            }
    }
}

.story-table {
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 0 100px;
    font-family: 'Montserrat', sans-serif;
    line-height: 20.8px;

    &_card {
        gap: 32px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &_subscription {
            font-size: 16px;
            width: 600px;
            color: #1f1f1f;
        }
    }

    &_card-centre {
        display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
                text-align: center;
                margin: 30px 0; 

            &_subscription {
            font-size: 16px;
            width: 600px;
            color: #1f1f1f;
         }
    }
}


