.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
    pointer-events: none;
    &__content {
        background-color:  #F1F1F1;
        transform: scale(.5);
        transition: .4s all;
        &.active {
            transform: scale(1);
        }
    }
    &.modal.active {
        opacity: 1;
        pointer-events: all;
    }
}
// .slider_wrapper {
//     width: 50%;
//     display: flex;
//     justify-content: center;
//     margin-top: 15px;
   
// }
// .swiper {
//     width: 90%;
//     margin: 0 !important;
// }


