@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

// * {
//     border: 1px solid gray;
// }
.team {
    width: 86vw;
    margin: 3.3vw auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    h2{
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        font-feature-settings: 'case' on;
        color: #000000;
    }
    img {
        width: 221px;
        height: 218px;
        margin: 3.3vw 0 1.1vw;
    }
    h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        color: #000000;
    }
    h5 {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: #000000;
        margin: .56vw 0 1.1vw;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #1F1F1F;
        width: 44vw;
    }
}

.team-items {
    width: 86vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto 4.2vw auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    li {
        width: 222px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 158px;
            height: 158px;
            margin-bottom: .63vw;
        }
        h4 {
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            text-align: center;
            color: #000000;
        }
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            text-align: center;
            color: #666666;
            margin-top: .63vw;
        }
    }
}
.partners {
    width: 100vw;
    font-family: 'Montserrat';
    font-style: normal;
    h2 {
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        font-feature-settings: 'case' on;
        color: #000000;
    }
    &_items {
        width: 97.8vw;
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        justify-content: space-between;
        margin: 3.3vw 0 9.3vw;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 120px;
            div {
                max-width: 120px;
                min-height: 120px;
                img {
                    max-width: 120px;
                }
            }
            h4 {
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;
                text-align: center;
                color: #000000;
                margin: .56vw 0 .28vw;
            }
            p {
                font-weight: 400;
                font-size: 12px;
                line-height: 130%;
                text-align: center;
                color: #666666;
            }
        }
    }
}