@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


.success-stories {
    padding: 24px 37px 44px 44px;
    max-width: 1240px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    &_img {
        max-width: 50%;
    }
    &__description {
        display: flex;
        flex-direction: column;
        width: 510px;
        margin-top: 1vw;

    
    
        h3 {
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            color: #333333;
            min-height: 72px;
        }
        h4 {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
            color: #000000;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #000000;
            margin: 1.1vw 0 2.8vw;
            line-clamp: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
    }
    &_button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 284px;
        min-height: 43px;
        background: #FFD966;
    a {
        width: 100%;
        height: 100%;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;
        text-decoration: none;
        cursor: pointer;
        }
    }
    &_button:hover{
        background: #FFE69A;
    }
}
.btn_close {
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 1;
}
   
