@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

 .success-stories {
    width: 90vw;
    margin: 3.3vw auto 8.3vw auto;
    font-family: 'Montserrat';
    font-style: normal;
    h2 {

        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        font-feature-settings: 'case' on;
        color: #000000;
    }
    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 5vw;
        li {
            width: 28vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            div {
                h3 {
                    span{
                        display: inline-block;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 120%;
                        color: #333333;
                        height: 48px;
                        margin-bottom: .83vw;
                    }
                }
                p {
                    span {
                        display: inline-block;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 130%;
                        color: #000000;
                        height: 117px;
                        margin-bottom: 1.9vw;
                    }
                }
                span {
                    display: inline-block;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 130%;
                    color: #1F1F1F;
                }
            }

        }
    }
 }


