@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button {
  background: none;
  background-color: none;
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

body {
  width: 100%;
  max-width: 100%;
  background: #ECECEC;
}

.menu {
  position: sticky;
  max-height: 86px;
  background-color: #1E1E1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 120%;
  color: #FFFFFF;
}

.menu__logo {
  padding-left: 6.9444444444vw;
  padding-top: 18px;
  padding-bottom: 19px;
}
.menu__logo img {
  cursor: pointer;
}

.menu__list {
  padding-right: 6.9444444444vw;
}

.menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.menu-links > li {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  padding-left: 0.8333333333vw;
  padding-right: 1.2847222222vw;
}
.menu-links > li:not(:last-child):hover {
  text-decoration: underline;
}
.menu-links > li .ref {
  display: block;
  text-align: center;
}
.menu-links > li .menu-arrow {
  margin-left: 0.5555555556vw;
}
.menu-links > li .menu-arrow.active {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.menu-links > li .menu-arrow.inactive {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.menu-links > li:last-child {
  text-align: center;
  font-weight: 500;
  color: #000000;
  padding: 0;
  background-color: #FFD966;
  width: 9.8611111111vw;
  height: 48px;
}
.menu-links > li:last-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}
.menu-links > li:last-child:hover {
  background: #FFE9A8;
}
.menu-links > li:not(:last-child) {
  margin-right: 3.125vw;
}

.link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown {
  position: absolute;
  top: 175%;
  margin-left: -20%;
  display: none;
  width: 120%;
  z-index: 2;
}
.dropdown li {
  color: #333333;
  background-color: white;
  height: 56px;
  margin-bottom: 4px;
}
.dropdown li .ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
.dropdown li span {
  padding-top: 20px;
  padding-bottom: 20px;
}
.dropdown li:hover {
  background: rgba(31, 30, 27, 0.1);
}

.dropdown.active {
  display: block;
}

.dropdown.inactive {
  display: none;
}

.lang .ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lang img {
  display: none;
  width: 18px;
  height: 18px;
}

.lang.active img {
  display: block;
}

.hero {
  max-width: 1440px;
  width: 100%;
  max-height: 814px;
  padding-left: 6.9444444444vw;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__info {
  padding-right: 2.2222222222vw;
  padding-top: 184px;
  padding-bottom: 180px;
  width: 34.7222222222vw;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #000000;
}
.hero__info h1 {
  font-weight: 500;
  font-size: 3.5em;
  line-height: 113%;
  margin-bottom: 40px;
}
.hero__info p {
  font-weight: 400;
  font-size: 1em;
  line-height: 130%;
  margin-bottom: 40px;
}

.btnDonate {
  width: 27.1527777778vw;
  height: 64px;
  background: #FFD966;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btnDonate img {
  padding-left: 0.5555555556vw;
}
.btnDonate:hover {
  background: #FFE9A8;
}

.bk-slider {
  margin: 100px 0 100px auto;
  width: 780px;
  height: 620px;
  z-index: 0;
}

.swiper {
  width: 780px;
  height: 620px;
}

.swiper-slide {
  background-color: #ECECEC;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}

.btnNext {
  position: absolute;
  width: 100px;
  height: 48px;
  border-radius: 44px;
  right: 2.5%;
  top: 90%;
  z-index: 50;
}
.btnNext:hover {
  background: rgba(31, 30, 27, 0.1);
}

.current-needs {
  max-width: 1440px;
  max-height: 1097px;
  padding-left: 6.9444444444vw;
  padding-right: 6.9444444444vw;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #000000;
}
.current-needs > h1 {
  font-weight: 500;
  font-size: 2.5em;
  line-height: 120%;
  margin-bottom: 24px;
}
.current-needs > p {
  font-weight: 400;
  font-size: 1em;
  line-height: 130%;
  margin-bottom: 48px;
}

.current-needs__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  max-width: 286px;
  height: 592px;
  background-color: white;
}

.card__content {
  position: relative;
  z-index: 1;
  height: 100%;
  background-color: #ECECEC;
}

.card__content:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: white;
}

.card-photo {
  max-width: 286px;
  height: 254px;
  margin-bottom: 20px;
}

.card-title {
  max-width: 286px;
  height: 72px;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 120%;
  color: #333333;
  margin-bottom: 12px;
}

.card-price {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 29px;
  margin-bottom: 12px;
}

.card-description {
  font-weight: 400;
  font-size: 1em;
  line-height: 130%;
}

.cardDonateBtn {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 48px;
  background-color: #FFD966;
  font-weight: 500;
  font-size: 1em;
  line-height: 120%;
}
.cardDonateBtn:hover {
  background: #FFE9A8;
}

.allCurrentNeeds {
  position: relative;
  margin-top: 64px;
  padding-bottom: 100px;
}

.btnAllNeeds {
  position: absolute;
  right: 0%;
  width: 296px;
  height: 60px;
  border: 1px solid #000000;
  border-radius: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btnAllNeeds img {
  padding-left: 0.5555555556vw;
}
.btnAllNeeds:hover {
  background-color: rgba(31, 30, 27, 0.1);
}

.how-you-can-help {
  max-width: 1440px;
  width: 100%;
  max-height: 2392px;
  padding-left: 6.9444444444vw;
  padding-right: 6.9444444444vw;
  padding-top: 134px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.how-you-can-help > h1 {
  text-align: center;
  font-weight: 500;
  font-size: 2.5em;
  line-height: 120%;
  margin-bottom: 28px;
  color: #000000;
}
.how-you-can-help > p {
  padding-left: 30.9375vw;
  padding-right: 30.9375vw;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  line-height: 130%;
  color: #1F1F1F;
  margin-bottom: 64px;
}

.help-content {
  width: 86.1111111111vw;
  max-height: 601px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help-card {
  max-width: 498px;
  max-height: 601px;
}
.help-card > h1 {
  font-weight: 600;
  font-size: 1.25em;
  line-height: 120%;
  color: #000000;
  margin-bottom: 24px;
}
.help-card > p {
  font-weight: 400;
  font-size: 1em;
  line-height: 130%;
  color: #1F1F1F;
  margin-bottom: 16px;
}

.rate {
  margin-top: 32px;
  margin-bottom: 20px;
  width: 16.5277777778vw;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button#uah {
  border-radius: 100px 0 0 100px;
}

button#eur {
  border-radius: 0 100px 100px 0;
}

.rate__button {
  width: 5.5555555556vw;
  border: 1px solid #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  font-size: 0.875em;
  cursor: pointer;
  color: #1D192B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rate__button img {
  padding-right: 0.5555555556vw;
  display: none;
}
.rate__button:hover {
  background-color: rgba(31, 30, 27, 0.1);
}

.rate__button:not(:last-child) {
  border-right: none;
}

.rate__button.active {
  background: rgba(31, 30, 27, 0.1);
}
.rate__button.active > img {
  display: block;
}

.count {
  margin-top: 32px;
  margin-bottom: 20px;
  width: 21.5277777778vw;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button#count1 {
  border-radius: 100px 0 0 100px;
}

button#count3 {
  border-radius: 0 100px 100px 0;
}

.count__button {
  width: 7.2222222222vw;
  border: 1px solid #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  font-size: 0.875em;
  cursor: pointer;
  color: #1D192B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.count__button img {
  padding-right: 0.5555555556vw;
  display: none;
}
.count__button:hover {
  background-color: rgba(31, 30, 27, 0.1);
}
.count__button.error {
  border-color: red;
  color: red;
}

.count__button:not(:last-child) {
  border-right: none;
}

.count__button.active {
  background: rgba(31, 30, 27, 0.1);
}
.count__button.active > img {
  display: block;
}

.donate-form > input {
  width: 34.5833333333vw;
  height: 56px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 130%;
  color: #333333;
  border-radius: 4px 4px 0px 0px;
  padding: 17.5px 1.1111111111vw;
  border-bottom: 1px solid #333333;
}
.donate-form > input::-webkit-input-placeholder {
  opacity: 1;
}
.donate-form > input::-moz-placeholder {
  opacity: 1;
}
.donate-form > input:-ms-input-placeholder {
  opacity: 1;
}
.donate-form > input::-ms-input-placeholder {
  opacity: 1;
}
.donate-form > input::placeholder {
  opacity: 1;
}
.donate-form > input:focus::-webkit-input-placeholder {
  color: transparent;
}
.donate-form > input:focus::-moz-placeholder {
  color: transparent;
}
.donate-form > input:focus:-ms-input-placeholder {
  color: transparent;
}
.donate-form > input:focus::-ms-input-placeholder {
  color: transparent;
}
.donate-form > input:focus::placeholder {
  color: transparent;
}
.donate-form > input:hover {
  background: rgba(255, 255, 255, 0.43);
  border-bottom: 1px solid #0275ED;
}
.donate-form > input.error {
  color: red;
  border: 1px solid red;
}
.donate-form sup {
  width: 34.5833333333vw;
  height: 20px;
  padding: 4px 1.1111111111vw 0px;
  color: red;
}
.donate-form .btn-credit-card {
  margin-top: 28px;
  width: 34.5833333333vw;
  height: 53px;
  background: #0275ED;
  font-weight: 500;
  font-size: 1em;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.donate-form .btn-credit-card span {
  color: #FFFFFF;
}
.donate-form .btn-credit-card img {
  padding-left: 0.5555555556vw;
}
.donate-form .btn-credit-card:hover {
  background-color: #6FB1F5;
}
.donate-form .btn-pay-pal {
  margin-top: 28px;
  margin-bottom: 104px;
  width: 34.5833333333vw;
  height: 53px;
  background: #FFD966;
  font-weight: 500;
  font-size: 1em;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.donate-form .btn-pay-pal span {
  color: #000000;
}
.donate-form .btn-pay-pal img {
  padding-left: 0.5555555556vw;
}
.donate-form .btn-pay-pal:hover {
  background-color: #FFE9A8;
}

.help-photo > img {
  max-width: 599px;
  max-height: 601px;
}

.bank-transfer {
  margin-top: 80px;
  max-width: 1440px;
  width: 100%;
  padding-left: 6.9444444444vw;
  padding-right: 6.9444444444vw;
  margin-left: auto;
  margin-right: auto;
}

.bank-transfer__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #000000;
}
.bank-transfer__line p {
  padding-top: 24px;
  padding-bottom: 24px;
}
.bank-transfer__line .btnTransfer {
  border-radius: 100%;
  width: 48px;
  height: 48px;
}
.bank-transfer__line .btnTransfer:hover {
  background-color: rgba(31, 30, 27, 0.1);
}

.arrow-bank {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.arrow-bank.active {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.bank-transfer__content {
  display: none;
}
.bank-transfer__content > h1 {
  text-align: center;
}

.bank-transfer__content.active {
  display: block;
}
.bank-transfer__content.active > h1 {
  text-align: center;
}

.bank-list_ua {
  margin-top: 104px;
  width: 33.3333333333vw;
}
.bank-list_ua h1 {
  text-align: center;
}

.transfer-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}
.transfer-line .colum1 {
  width: 13.3333333333vw;
  margin-right: 0.3125vw;
  font-size: 1em;
}
.transfer-line .colum2 {
  width: 16.0416666667vw;
  font-size: 0.75em;
}
.transfer-line .btnCopy {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}
.transfer-line .btnCopy:hover {
  background-color: rgba(31, 30, 27, 0.1);
}

.btnCopyAll {
  margin-top: 24px;
  width: 100%;
  height: 53px;
  background: #FFD966;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btnCopyAll span {
  color: #000000;
}
.btnCopyAll img {
  padding-left: 0.5555555556vw;
}
.btnCopyAll:hover {
  background-color: #FFE9A8;
}

.bank-list_eur {
  margin-top: 104px;
}

.needs {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  width: 86vw;
  margin: 3.3vw auto 9.3vw auto;
}
.needs h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  -webkit-font-feature-settings: "case" on;
          font-feature-settings: "case" on;
  color: #000000;
}
.needs__description {
  min-height: 245px;
  margin: 1.39vw 0;
}
.needs__description h3 {
  min-height: 100px;
}
.needs__cards {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5vw;
}
.needs__cards li {
  width: 286px;
  min-height: 585px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
}
.needs__cards li h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #333333;
}
.needs__cards li h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  margin: 0.83vw 0;
}
.needs__cards li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}
.needs__cards li:hover {
  background-color: #F1F1F1;
}
.needs__cards_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 43px;
  background: #FFD966;
}
.needs__cards_button a {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1F1F1F;
  text-decoration: none;
  cursor: pointer;
}
.needs__cards_button:hover {
  background: #FFE69A;
}
.needs_card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.needs_card img {
  max-width: 286px;
}
.needs_card:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.docs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 42vw;
  margin: 3.3vw auto 9.5vw auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.docs h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  -webkit-font-feature-settings: "case" on;
          font-feature-settings: "case" on;
  color: #000000;
  margin: 0;
  padding: 0;
}
.docs__statute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5vw 0 2.2vw;
}
.docs__statute div {
  border: 1px solid #000000;
  border-radius: 20px;
  width: 270px;
  min-height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.docs__statute div h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  text-align: center;
}
.docs__references {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.docs__references_award img {
  width: 321px;
  min-height: 438px;
}
.docs__references_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.docs__references_items h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}
.docs__references_items div {
  border: 1px solid #000000;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 224px;
  min-height: 203px;
}
.docs__extract {
  border: 1px solid #000000;
  border-radius: 20px;
  width: 100%;
  min-height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.2vw 0;
}
.docs__extract h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}
.docs__report {
  border: 1px solid #000000;
  border-radius: 20px;
  min-height: 156px;
  width: 100%;
  margin-bottom: 5vw;
  padding: 1.4vw 1.67vw;
}
.docs__report h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 1.4vw;
}
.docs__report p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}
.docs__report span {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
  margin-top: 1.4vw;
}
.docs__request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.docs__request p {
  width: 238px;
  min-height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #1F1F1F;
}
.docs__request_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  min-height: 43px;
  background: #FFD966;
}
.docs__request_btn a {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1F1F1F;
  text-decoration: none;
  cursor: pointer;
}

.need {
  padding: 24px 37px 44px 44px;
  max-width: 1240px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.need_img {
  max-width: 50%;
}
.need__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 510px;
  margin-top: 1vw;
}
.need__description h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #333333;
  min-height: 72px;
}
.need__description h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}
.need__description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin: 1.1vw 0 2.8vw;
  line-clamp: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.need_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 284px;
  min-height: 43px;
  background: #FFD966;
}
.need_button a {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.need_button:hover {
  background: #FFE69A;
}

.btn_close {
  position: absolute;
  top: 28px;
  right: 28px;
  z-index: 1;
}

.team {
  width: 86vw;
  margin: 3.3vw auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.team h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  -webkit-font-feature-settings: "case" on;
          font-feature-settings: "case" on;
  color: #000000;
}
.team img {
  width: 221px;
  height: 218px;
  margin: 3.3vw 0 1.1vw;
}
.team h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}
.team h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #000000;
  margin: 0.56vw 0 1.1vw;
}
.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #1F1F1F;
  width: 44vw;
}

.team-items {
  width: 86vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0 auto 4.2vw auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.team-items li {
  width: 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team-items li img {
  width: 158px;
  height: 158px;
  margin-bottom: 0.63vw;
}
.team-items li h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}
.team-items li p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #666666;
  margin-top: 0.63vw;
}

.partners {
  width: 100vw;
  font-family: "Montserrat";
  font-style: normal;
}
.partners h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  -webkit-font-feature-settings: "case" on;
          font-feature-settings: "case" on;
  color: #000000;
}
.partners_items {
  width: 97.8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3.3vw 0 9.3vw;
}
.partners_items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
}
.partners_items li div {
  max-width: 120px;
  min-height: 120px;
}
.partners_items li div img {
  max-width: 120px;
}
.partners_items li h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #000000;
  margin: 0.56vw 0 0.28vw;
}
.partners_items li p {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: #666666;
}

.support {
  max-width: 1440px;
  height: 837px;
  margin-top: 100px;
  padding-top: 134px;
  padding-left: 6.9444444444vw;
  padding-right: 6.9444444444vw;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.support .support__content {
  max-width: 604px;
  height: 593px;
}
.support .support__content > h1 {
  font-weight: 500;
  font-size: 2.5em;
  line-height: 120%;
  margin-bottom: 36px;
}
.support .support__content img {
  width: 100%;
  margin-bottom: 36px;
}
.support .support__content > p {
  font-weight: 400;
  font-size: 1em;
  line-height: 130%;
  color: #1F1F1F;
}
.support .support__content > p:not(:last-child) {
  margin-bottom: 1em;
}
.support .support__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 496px;
  height: 477px;
}
.support .support__form input {
  padding: 4px 1.1111111111vw;
  border-bottom: 1px solid #333333;
  max-width: 496px;
  height: 48px;
}
.support .support__form input::-webkit-input-placeholder {
  font-size: 1em !important;
  color: #333333;
}
.support .support__form input::-moz-placeholder {
  font-size: 1em !important;
  color: #333333;
}
.support .support__form input:-ms-input-placeholder {
  font-size: 1em !important;
  color: #333333;
}
.support .support__form input::-ms-input-placeholder {
  font-size: 1em !important;
  color: #333333;
}
.support .support__form input::placeholder {
  font-size: 1em !important;
  color: #333333;
}
.support .support__form input:not(:last-child) {
  margin-bottom: 24px;
}
.support .support__form input:last-child {
  margin-bottom: 44px;
}
.support .support__form textarea {
  resize: none;
  max-width: 496px;
  height: 173px;
  padding: 9.5px 1.1111111111vw;
  margin-bottom: 44px;
}
.support .support__form textarea::-webkit-input-placeholder {
  font-size: 1em !important;
  color: #333333;
}
.support .support__form textarea::-moz-placeholder {
  font-size: 1em !important;
  color: #333333;
}
.support .support__form textarea:-ms-input-placeholder {
  font-size: 1em !important;
  color: #333333;
}
.support .support__form textarea::-ms-input-placeholder {
  font-size: 1em !important;
  color: #333333;
}
.support .support__form textarea::placeholder {
  font-size: 1em !important;
  color: #333333;
}
.support .support__form .checkbox {
  margin-bottom: 73px;
  cursor: pointer;
}
.support .support__form .checkbox .checkbox__input {
  display: none;
}
.support .support__form .checkbox .checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.support .support__form .checkbox .checkbox__label {
  font-size: 1em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.support .support__form .checkbox .checkbox__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 10px;
}
.support .support__form .checkbox .checkbox__label::after {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: aqua;
  border-radius: 4px;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.support .support__form button:last-child {
  height: 43px;
  background: #FFD966;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1E1E1E;
  padding-top: 72px;
  padding-bottom: 72px;
  height: 426px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #FFFFFF;
}
.footer .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20.0347222222vw;
  max-width: 425px;
  height: 283px;
}
.footer .footer__info h1 {
  font-weight: 500;
  font-size: 2.5em;
  line-height: 120%;
  margin-bottom: 24px;
}
.footer .footer__info p {
  padding-right: 1.1805555556vw;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 1em;
  line-height: 130%;
}
.footer .footer__info button {
  height: 47px;
  width: 100%;
  font-weight: 500;
  font-size: 1em;
  line-height: 120%;
  color: #000000;
  background: #FFD966;
}
.footer .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20.0347222222vw;
  max-width: 318px;
  height: 283px;
}
.footer .footer__contacts h1 {
  font-weight: 500;
  font-size: 2.5em;
  line-height: 120%;
  margin-bottom: 14px;
}
.footer .footer__contacts .contacts__info {
  margin-bottom: 5px;
  padding-left: 0.8333333333vw;
}
.footer .footer__contacts .contacts__info .info {
  font-size: 0.875em;
}
.footer .footer__contacts .contacts__info .info p:nth-child(1) {
  font-weight: 500;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 4px;
}
.footer .footer__contacts .contacts__info .info p:nth-child(2) {
  font-weight: 400;
  line-height: 130%;
  color: #BFBFBF;
}
.footer .footer__contacts .contacts__info .info:not(:last-child) {
  margin-bottom: 16px;
}
.footer .footer__contacts .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer__contacts .social-media button {
  display: block;
  width: 48px;
  height: 48px;
}
.footer .footer__contacts .social-media button img {
  margin: auto;
}

.subhead-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px;
  font-family: "Roboto", sans-serif;
}
.subhead-info_title {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}
.subhead-info_description {
  font-size: 16px;
  width: 494px;
  text-align: center;
  margin: 25px;
  color: #1f1f1f;
}

.programs_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 33px;
  margin: 40px 0;
}
.programs_table_card {
  width: 320px;
  font-family: "Roboto", sans-serif;
}
.programs_table_card_caption {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding: 15px;
}
.programs_table_card_subscription {
  font-size: 16px;
  text-align: center;
  color: #1f1f1f;
}

.story-table {
  gap: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0;
  font-family: "Roboto", sans-serif;
}
.story-table_card {
  gap: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.story-table_card_subscription {
  font-size: 16px;
  width: 600px;
  color: #1f1f1f;
}