// Base
@import "./base/reset.scss";
@import "./base/base.scss";
@import "./base/variables";

// Blocks
@import "./blocks/menu.scss";
@import "./blocks/header.scss";
@import "./blocks/current-needs.scss";
@import "./blocks/how-you-canhelp.scss";
@import "./blocks/bank-transfer.scss";
@import "./blocks/all-current-needs.scss";
@import "./blocks/docs-reports";
@import "./blocks/need.scss";
@import "./blocks/our-team.scss";
// @import "./blocks/stories.scss";
// @import "./blocks/success-story.scss";
@import "./blocks/support.scss";
@import "./blocks/footer.scss";
@import "./blocks/mission-story.scss";

